:root {
  --main-white: #EEEEEE;
  --main-light-blue: #176B87;
  --main-dark-blue: #053B50;
  --main-teal: #64CCC5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-white);
}

.container {
  height: 100vh;
  width: 100%;
}

.main__header {
  width: 100vw;
  background-color: #176B87;
}

.main__title {
  padding: 30px;
  margin: 0;
  color: var(--main-white);
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.github-logo {
  width: 28px;
}

.input-top {
  padding: 100px 30px 20px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-top__field {
  width: 400px;
  border: none;
  border-radius: 4px;
}

.top-buttons {
  display: flex;
  flex-direction: column;
}

.button {
  width: fit-content;
  justify-content: space-evenly;
}

.main__output {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__output-text {
  padding: 20px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.main__output-buttons {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* box-shadow: 0px -5px 10px 5px var(--main-white); */
}

.main__footer {
  background-color: #22668D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  position: absolute;
  bottom: 0;
}

.dev-name {
  color: var(--main-white);
  margin-right: 10px;
}

.link {
  margin-right: 10px;
}

.user-card {
  background-color: var(--main-teal);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  color: var(--main-dark-blue);
  padding: 10px;
}

.user-card__field {
  margin: 8px;
}